.jumbotron {
    text-align: center;
    background: rgb(0,212,255);
    /*  background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(104,0,255,1) 68%); */
    background: rgb(95, 7, 120);
    color: #ffffff !important;
    padding-top: 100px;
    padding-bottom: 100px;
    border-radius: 0px;
}

.main-content {
    padding-left: 0px;
    padding-right: 0px;
    z-index: 1030 /* to match fixed-top class of navbar */;
}

.home {
    margin-left: 0px;
    margin-right: 0px;
}

@media (min-width: 992px){
    .main-content {
        z-index: 9999;
    }
}

.jumbotron{
    font-family: 'Poppins', sans-serif;
}