.main {
}

.do-list {
    list-style-position: inside;
}

.section-title {
    text-align: center;
    padding-top: 80px;
}

.content-bg {
    background-image: url("/neural.jpg");
    background-size: cover;
}

.content-section{
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'PT Serif', serif;
    margin-bottom: 20px;
}

.section-title{
    font-family: 'Poppins', sans-serif;
}