.news-page-title {
    text-align: center;
    margin-top: 100px;
    font-family: 'Poppins', sans-serif;
}

.news-page{
    margin-top: 30px;
    margin-bottom: 30px;
}

.news-page-card{
    position: relative;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);

    display: inline-block !important;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
    min-width: 90% !important;
}

@media (min-width: 992px){
    .news-page-card{
        min-width: 40% !important;
    }
}