.news {
    margin-top: 30px;
}

.section-title {
    text-align: center;
    padding-top: 80px;
    display: block;
}

.card {
    display: inline-block;
    margin-bottom: 25px;
    margin-left: 10%;
    width: 80% !important;
}

@media (min-width: 992px){
    .card {
        margin: 25px;
        width: 20% !important;
    }
    .news {
        justify-content: center!important;
        display: flex!important;
    }
}
