.register-section {
    margin-top: 100px;
}

.form-title{
    text-align: center;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}

.register-form{
    margin-top: 30px;
}

.register-btn{
    margin-top: 20px;
    margin-bottom: 20px;
}