.team-section {
    margin-top: 100px;
    text-align: center;
}

.team-card {
    margin-left: 0px !important; /* override bootstrap card margin */
}

.team-title{
    text-align: center;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}