.context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}

.footer-classic{
    padding-top: 30px;
    background-color: rgb(104,0,255);
    
    /*background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(104,0,255,1) 68%);
    
    background: rgb(0,212,255);
    background: linear-gradient(270deg, rgba(0,212,255,1) 0%, rgba(104,0,255,1) 0%, rgba(13,0,36,1) 100%, rgba(2,0,36,1) 100%);
    */
}
