.navbar{
    -webkit-transition: background-color 250ms linear;
    -ms-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
    font-family: 'Poppins', sans-serif;
}

.navbar-transparent{
    color: #ffffff !important;
    border-color: rgba(0,0,0,.1) !important;
    background-color: transparent !important; 
}

.navbar-transparent .nav-link{
    color: #ffffff !important;
}

.navbar-white{
    color: rgba(0,0,0,.5) !important;
    border-color: rgba(0,0,0,.1) !important;
    background-color: #f8f9fa !important; 
}